* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


        /* Общие классы  */

.link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.list-stl {
    list-style: none;
}

.main-text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
}


        /* Оформление background у header */

.container {
    width: 100%;
    height: auto;
    background: url(../img/Layer\ 15-min.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 45px;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .container {
        background: url(../img/picture@2x-min.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}


        /* Оформление wrap и его элементов */

.wrap {
    width: 1202px;
    margin: auto;
}

.page-navigation {
    padding-top: 25px;
    margin-bottom: 130px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    font-size: 30px;
}

.list {
    width: 622px;
    display: flex;
    justify-content: space-between;
}

.list__link {
    padding-bottom: 10px;
}

.list__item--hover:hover .list__link {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    transition: 150ms all linear;
}

.list__svg:hover {
    fill: #fce38a;
}

.list__svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
}

.general-headline {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.page-headline {
    width: 821px;
    margin: auto;
    margin-bottom: 110px;
}

.page-hdln {
    margin-bottom: 30px;
}

.headline-two {
    font-size: 150px;
    line-height: 1;
    text-align: center;
}

.page-btn {
    padding-bottom: 230px;
}

.button {
    display: block;
    margin: auto;
    width: 154px;
    height: 32px;
    border: 3px solid #ffffff;
    background: transparent;
    font-size: 14px;
}



        /* Стилизация main */


.box-headline {
    margin-bottom: 18px;
}

.heading {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
}

.box-caption {
    margin-bottom: 38px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.page-line {
    margin-bottom: 65px;
}

.line {
    display: block;
    margin: auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}


        /* Позиционирование и стилизация Amazing services */





.page-services {
    margin-bottom: 95px;
}

.block-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-services {
    width: 380px;
}

.box-services__headline {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}



            /* Стилизация Meet Our Team */




.meet-team {
    display: flex;
    justify-content: space-between;
}

.page-text {
    width: 980px;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
}

.page-image {
    margin-bottom: 28px;
}

.member-team {
    width: 380px;
    height: auto;
    text-align: center;
    margin-bottom: 82px;
}

.member-team:hover .image-1,
.member-team:hover .image-2,
.member-team:hover .image-3 {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 #95e1d3;
    transition: 150ms all linear;
} 

.image-1 {
    width: 380px;
    height: 470px;
    background: url(../img/1-1x-min.png);
    transition: 150ms all linear;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .image-1 {
        background: url(../img/1-@2x-min.png);
        background-size: cover;
    }
}

.image-2 {
    width: 380px;
    height: 470px;
    background: url(../img/2-1x-min.png);
    transition: 150ms all linear;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .image-2 {
        background: url(../img/2-2@2x-min.png);
        background-size: cover;
    }
}

.image-3 {
    width: 380px;
    height: 470px;
    background: url(../img/3-1x-min.png);
    transition: 150ms all linear;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .image-3 {
        background: url(../img/3-@2x-min.png);
        background-size: cover;
    }
}

.box-gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    background: linear-gradient(to bottom, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    opacity: 0;
}

.member-team:hover .box-gradient {
    opacity: 1;
}

.list-team {
    display: flex;
}

.list-team__item {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce38a;
}

.list-team__item:not(:last-child) {
    border-right: 1px solid #f9bd87; 
}

.list-team__item--hover:hover {
    background-color: #f38181;
}

.list-team__item--hover:hover .list-team__svg {
    fill: #ffffff;
}

.list-team__svg {
    fill: #f38181;
    width: 30px;
    height: 30px;
}

.page-name {
    margin-bottom: 15px;
}

.member-team__name {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #333333;
}

.member-team__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    font-weight: 300;
    font-style: italic;
}